*
!Reader/
!Writer/
!source/
!.gitignore
!CMakeLists.txt
!Makefile
!readme.md
!*.h
!*.c
!*.hpp
!*.cpp
*.*.*
*.*.*.*

!install.sh
!tools
!autostart
!tools/autostart/keyboard_hook_reader.desktop
!tools/autostart/keyboard_hook_writer.conf
