[Unit]
Description=Keyboard hook service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/keyboard-hook-service.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
